# Ignorar archivos ráster de entrada
data/*.tif
data/*.tiff
data/*.zip

# Permitir archivos guía dentro de data
!data/.gitkeep
!data/README.md

# Jupyter
.ipynb_checkpoints/

# Python
__pycache__/
*.pyc

# Entornos virtuales
.venv/
venv/
env/

# Archivos temporales
.DS_Store
Thumbs.db